:root {
  --background-color: black;
  --particle-color: red;
  --particle-square-color: orange;
  --main-color: blue;
  --counter-color: orange;
  --counter-font-color: black;
  --coin-color: black;
  --coin-hover-border-color: yellow;
  --coin-hover-color: orange;


  --particle-opacity: 1;
}

body {
  background-color: var(--background-color);
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
}

.canvas .total-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  margin-top: -45px;
  color: gray;
  font-family: sans-serif;
  font-size: 16px;
}

.canvas .total-counter.fader {
  animation: fade-in 1400ms forwards;
}

.canvas .clap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  z-index: 2;
  background: var(--coin-color);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.canvas .clap-container .clap-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.canvas .clap-container:hover {
border: 1.5px solid var(--coin-hover-border-color);
}

.canvas .clap-container.scale {
  animation: scaleAndBack 700ms forwards;
}

.canvas .click-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 132px;
  background-color: var(--counter-color);
  border-radius: 50%;
  z-index: 1;
}

.canvas .click-counter .counter {
  font-family: sans-serif;
  font-size: 14px;
  color: var(--counter-font-color);
}

.canvas .click-counter.first-active {
  animation: first-bump-in 1s forwards;
}

.canvas .click-counter.active {
  animation: bump-in 1s forwards;
}

.canvas .clap-container-sonar {
  width: 60px;
  height: 60px;
  background: var(--coin-hover-color);
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.canvas .hover-active {
  animation: sonar-wave 2s forwards;
}

.canvas .particles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: absolute;
}

.canvas .particles-container .triangle {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 10px solid var(--particle-color);
  border-bottom: 4px solid transparent;
  position: absolute;
}

.canvas .particles-container .triangle .square {
  width: 5px;
  height: 5px;
  background: var(--particle-square-color);
  position: absolute;
  left: -15px;
  top: 0;
}

.canvas .particles-container .pop-top {
  animation: pop-top 1s forwards;
}

.canvas .particles-container .pop-top-left {
  animation: pop-top-left 1s forwards;
}

.canvas .particles-container .pop-top-right {
  animation: pop-top-right 1s forwards;
}

.canvas .particles-container .pop-bottom-right {
  animation: pop-bottom-right 1s forwards;
}

.canvas .particles-container .pop-bottom-left {
  animation: pop-bottom-left 1s forwards;
}

@keyframes sonar-wave {
  0% {
    opacity: 0.7;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop-top {
  0% {
    transform: translate(0, 0) rotate(0);
    opacity: var(--particle-opacity);
  }
  100% {
    transform: translate(0, -100px) rotate(0);
    opacity: 0;
  }
}

@keyframes pop-top-left {
  0% {
    transform: translate(0, 0) rotate(-55deg);
    opacity: var(--particle-opacity);
  }
  100% {
    transform: translate(-100px, -50px) rotate(-55deg);
    opacity: 0;
  }
}

@keyframes pop-top-right {
  0% {
    transform: translate(0, 0) rotate(55deg);
    opacity: var(--particle-opacity);
  }
  100% {
    transform: translate(100px, -50px) rotate(55deg);
    opacity: 0;
  }
}

@keyframes pop-bottom-right {
  0% {
    transform: translate(0, 0) rotate(135deg);
    opacity: var(--particle-opacity);
  }
  100% {
    transform: translate(70px, 80px) rotate(135deg);
    opacity: 0;
  }
}

@keyframes pop-bottom-left {
  0% {
    transform: translate(0, 0) rotate(-135deg);
    opacity: var(--particle-opacity);
  }
  100% {
    transform: translate(-70px, 80px) rotate(-135deg);
    opacity: 0;
  }
}

@keyframes first-bump-in {
  0% {
    transform: translateY(-65px);
    opacity: 1;
  }
  50% {
    transform: translateY(-80px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes bump-in {
  0% {
    transform: translateY(-80px) scale(0.9);
    opacity: 1;
  }
  50% {
    transform: translateY(-80px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(1);
    opacity: 0;
  }
}

@keyframes scaleAndBack {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.canvas .clap-container {
  width: 40px !important;
  height: 40px !important;
}

.canvas .total-counter {
  margin-top: -21px !important;
}
